@import "../base/colors";

/***
  title: kanjiBlob
  section: blob
  description: a blob of data related to a single kanji
  example: |
    <div class="container">
      <div class="row">
        <div class="blob col-xs-4 title">
          <div class="kanji">心</div>
          <div class="romaji">shin</div>
          <div class="english">heart</div>
          <div class="hiragana">しん</div>
        </div>
        <div class="row">
        <div class="blob col-xs-4">
          <div class="kanji">心</div>
          <div class="romaji">shin</div>
          <div class="english">heart</div>
          <div class="hiragana">しん</div>
        </div>
      </div>
    </div>
***/

.row.title {
  width: 100%;
  border-bottom: 3px solid $black;
}

.blob {
  min-width: 150px;
  height: 80px;
  color: black;

  .title {
    font-weight: bold;
    border: 0px;

  }

  &:not(.title) {
    border-bottom: 1px solid $black;
    border-right: 1px solid $black;
  }
  .kanji {
    &.hidden {
      display: none;
    }

    color: $black;
    font-weight: bold;
    float: left;
  }

  .romaji {
    &.hidden {
      display: none;
    }

    float: right;
  }
  .characterNum {
    &.hidden {
      display: none;
    }
    float: left;
  }
  .english {
    width: 100%;
    font-size: 10px;
    clear: both;
    text-align: center;
    background: $gray;

    &.hidden {
      display: none;
    }
  }
  .hiragana {
    &.hidden {
      display: none;
    }

    float: right;
  }
}